.banner{
    background-image:url('../../../public/img/banner.webp');
    height: 500px;
    background-position: center;
    position: relative;

}
.banner-info{
    width:600px;
    position: absolute;
    right: 50px;
    bottom: 40px;
    color: rgb(228, 228, 228);
}
.banner-info h3{
font-size: 2.3rem;
letter-spacing: 2px;
}
.banner-info h4{
    letter-spacing: 3px;
}
.reviews-home{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap:10px;
    /* margin-top: 200px; */
    padding: 20px 90px;
    text-align: center;
}
.review-btn{
    width: 100%;
    /* margin: 0 auto; */
    padding: 10px 0;
    background: rgb(4, 23, 72);
    color: white;
    font-size: 1.2rem;
    cursor: pointer;
    margin-bottom: 20px;
}