.navbar{
    padding:25px 0;
    background: #785e4d;
    margin-top: 20px;
    text-align: center;
}
.navbar a{
    text-decoration: none;
    color:white;
    margin-right: 30px;
}
.active-nav-link{
    background: #9D8270;
    padding:30px 10px;
    border-radius: 5px;
}